.container {
  max-width: 960px;
}

/*
 * smooth scrolling
 */
html {
  scroll-behavior: smooth;
}

/*
 * Custom translucent site header
 */

 .bg-orange {
  background-color: #f5622c !important;
}

.bg-grey {
  background-color: #646464 !important;
}
.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: 10%;
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 200px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  content: "";
  background-color: rgba(255, 255, 255, 0);
  border-radius: 200px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  border-radius: 100px;
  background-color: #ffffff;
}


/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }
